.indicator {
  display: inline-block;
  width: 60px;
  aspect-ratio: 4;
  color: #8a63b8;
  --loading-dot: no-repeat radial-gradient(circle closest-side, currentColor 90%, transparent);
  background:
    var(--loading-dot) 0% 50%,
    var(--loading-dot) 50% 50%,
    var(--loading-dot) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: loading-dots 1s infinite linear;
}

@keyframes loading-dots {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }

  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }

  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .indicator {
    animation: none;
    background-size: calc(100% / 3) 100%;
  }
}
